<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
<link rel="stylesheet" href="__APP__/Public/css/admin-add.css" type="text/css" />
</head>
<body>
<div id="header">当前操作>>编辑图片类型</div>
<div id="content">
<form action="__CONTROLLER__/editsave/id/{$info.id}" method="post">
	<table>
		<tr>
			<td class="title">类型名称</td>
			<td><input type="text" name="typename" value="{$info.typename}" class="input-box"/></td>
			<td><span>格式：1000X1000</span></td>
		</tr>
	</table>
	<p><input id="button" type="submit" value="编辑类型" /></p>
</form>	
</div>	
</body>
</html>