<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
<link rel="stylesheet" type="text/css" href="__APP__/Public/css/admin-manage2.css" />
<script type="text/javascript" src="__APP__/Public/js/jquery-1.10.1.js"></script>
<script type="text/javascript" src="__APP__/Public/js/style-table.js"></script>
</head>
<body>
<div id="header">
    <div id="head1">当前操作>>新闻管理</div>
    <div id="head2">
        <div id="h2-title">新闻分类：</div>
        <foreach name='cate' item='c'>
            <a href="__CONTROLLER__/manage/id/{$c.id}" >{$c.title}</a>&nbsp;&nbsp;
        </foreach>
    </div>
</div>

<div id="content">
<div id="cur-cate">当前分类：<span style="color:red;">{$title}</span></div>
<table>
<thead>
	<tr>
		<th>ID</th>
		<th>标题</th>
		<th>内容</th>
		<th>链接</th>
		<th>作者</th>
		<th>图片</th>
		<th>视频</th>
		<th>添加时间</th>
		<th>操作</th>
	</tr>
	</thead>
	<foreach name="newsInfo" item="v">
	<tbody>
	<tr>
		<td>{$v.id}</td>
		<td>{$v.title}</td>
		<td>{$v.content}</td>
		<td>{$v.href}</td>
		<td>{$v.author}</td>
		<td><img src="__ROOT__/Uploads/News/{$v.imagepath}{$v.imagename}" width="100" height="100"/></td>
		<if condition="$v.isvideo eq 1"><td>是</td><else /><td>否</td></if>
		<td>{$v.pubtime|date="Y-m-d H:i:s",###}</td>
		<td><a href="__CONTROLLER__/edit/id/{$v.id}">编辑</a>|<a href="__CONTROLLER__/delete/id/{$v.id}">删除</a></td>
	</tr>
	</tbody>
	</foreach>
	<tfoot>
	<tr>
		<td colspan="9" align="center">{$pageShow}</td>
	</tr>
	</tfoot>
</table>
</div>	
</body>
</html>